[submodule "daw-core"]
	path = daw-core
	url = /daw-core
[submodule "gs-ui-components"]
	path = gs-ui-components
	url = /gs-ui-components
[submodule "gs-api-client"]
	path = gs-api-client
	url = /gs-api-client
[submodule "gs-components"]
	path = gs-components
	url = /gs-components
[submodule "gs-wa-components"]
	path = gs-wa-components
	url = /gs-wa-components
